<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12">
      
      <h3>コメント一覧</h3>
      
      <table class="table table-striped">
        
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>コメント</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.id %></td>
              <td><%= comment.user.name %></td>
              <td><%= comment.content %></td>
              <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td class="text-center">
                <%= button_to "削除", admin_comment_path(comment), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      
      </div>
  </div>
</div>