<div class="container my-5" >
  
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      
      
      <div class="row">
        <div class="col-md-3 one">
          <%= render partial: 'public/homes/genre', genres: @genres %>
          <%= render partial: 'public/users/users_genre', locals: { genre_id: @genre_id } %>
        </div>
        
        <div class="col-md-9 ">
          <div class="row">
            <% @posts.reverse_each do |post| %>
              <div class="col-4 my-2">
                <div class="card-box">
                  <div class="card" style="width: 15rem;">
                    
                    <i class="fas fa-map-pin"></i>
                    <div class="card-header">
                      <%= image_tag post.user.get_profile_image(40, 40), class: "img-fluid rounded-circle me-3" %>
                        <% if current_user %>
                          <%= link_to post.user.name, user_path(post.user), data: { "turbolinks" => false }, class: "card-name link2" %>
                        <% else %> 
                          <span class="card-name"><%= post.user.name %></span>
                        <% end %>
                    </div>
                    
                    <%= link_to post_path(post.id), class: "link2" do %>
                      <div class="card-body" style="padding: 0;">
                        <%= image_tag post.get_post_image(200,200), class: "w-100"%>
                        <div class="card-title"><%= post.title %></div>
                        <div class="card-text"><%= post.created_at.strftime("%Y/%m/%d") %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
      </div>
      
    </div>
    <p class="pagetop"><a href="#wrap">▲</a></p>
  </div>
</div>

<script>
$(document).ready(function() {
  var pagetop = $('.pagetop');
    $(window).scroll(function () {
       if ($(this).scrollTop() > 100) {
            pagetop.fadeIn();
       } else {
            pagetop.fadeOut();
            }
       });
       pagetop.click(function () {
           $('body, html').animate({ scrollTop: 0 }, 500);
              return false;
   });
});
</script>