<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      
      <h1>投稿一覧</h1>
      
      <div class="row">
        <div class="col-md-3">
          <%= render partial: 'public/homes/genre', genres: @genres %>
          <%= render partial: 'public/homes/sex' %>
        </div>
        
        <div class="col-md-9">
          <div class="row">
            <% @posts.each do |post| %>
              <div class="col-4 my-2">
                <div class="card" style="width: 15rem;">
                  <%= image_tag post.get_post_image(200,200) %>
                  <div class="card-body">
                    <h5 class="card-name"><%= link_to post.user.name, post_path(post.id) %></h5>
                    <p class="card-content"><%= post.content %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>