<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      
      <h1>投稿一覧</h1>
      
      <div class="row">
        <div class="col-md-3">
          <%= render partial: 'public/homes/genre', genres: @genres %>
          <%= render partial: 'public/homes/sex' %>
        </div>
        
        <div class="col-md-9">
          <div class="row">
            
          
          <% if @range == "User" %>
            <% @users.each do |user| %>
              <div class="col-12 mb-4 mt-5">
                <div class="border rounded p-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <div><%= image_tag user.get_profile_image(40, 40), class: "img-fluid rounded-circle me-3" %></div>
                    <div><%= link_to user.name, user_path(user), class: "text-decoration-none fw-bold" %></div>
                    <div><%= user.gender %></div>
                    <p class="mb-0 text-end">投稿数: <strong><%= user.posts.count %></strong></p>
                    <% last_post = user.posts.last %>
                    <p class="mb-0 text-end">最終投稿日: <strong><%= last_post.created_at.strftime("%Y-%m-%d %H:%M") if last_post %></strong></p>
                  </div>
                </div>
              </div>
            <% end %>
            
          <% else %>
            <% @posts.each do |post| %>
              <div class="col-4 my-2">
                <div class="card" style="width: 15rem;">
                  <div class="card-header">
                    <%= image_tag post.user.get_profile_image(40, 40), class: "img-fluid rounded-circle me-3" %>
                    <%= link_to post.user.name, post_path(post.id), class: "card-name" %>
                  </div>
                  <%= image_tag post.get_post_image(200,200) %>
                  <div class="card-body">
                    <p class="card-content"><%= post.content %></p>
                    <p class="card-text">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <%end%>
          
          
          
          
            
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>
    