<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12">
      
      <h3>ユーザー一覧</h3>
      
      <table class="table table-striped">
        
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>性別</th>
            <th>名前</th>
            <th>投稿数</th>
            <th>最終投稿日時</th>
            <th>投稿一覧</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.gender %></td>
              <td><%= image_tag user.get_profile_image(40, 40), class: "img-fluid rounded-circle" %> <%= user.name %></td>
              <td><%= user.posts.count %></td>
              <% if user.posts.present? %>
                <% last_post = user.posts.last %>
                <td><%= last_post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <% else %>
                <td>投稿はありません</td>
              <% end %>
              <td><%= link_to "投稿一覧", admin_user_path(id: user.id), class: "btn btn-primary" %></td>  
            </tr>
          <% end %>
        </tbody>
        
      </table>
    </div>
  </div>
</div>