<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      
      <h3>プロフィール</h3>
      
        <%= form_with model: @user, url: user_path(@user.id) do |form| %>
          <table class="table table-borderless">
            <tr>
              <td class="col-md-4">
                <div class="d-flex justify-content-center flex-column align-items-center">
                  <!-- アイコン画像 -->
                  <%= image_tag @user.get_profile_image(200, 200), class: "img-fluid rounded-circle mb-3" %>
                  <!-- ファイル選択 -->
                  <%= form.file_field :profile_image, id: "profile_image", accept: "image/*" %>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-9">
                    <!-- ログイン時の名前を表示 -->
                    <% if current_user %>
                      <label for="name" class="form-label">Name</label>
                      <%= form.text_field :name, id: "name", class: "form-control" %>
                    <% end %>
                  </div>
                  <div class="col-md-3">
                    <label for="gender" class="form-label">性別</label>
                    <%= form.select :gender, ["man", "woman", "other"], { prompt: "選択してください" }, class: "form-select" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label for="introduction" class="form-label">紹介文</label>
                    <%= form.text_area :introduction, id: "introduction", class: "form-control", rows: 4, cols: 50 %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mt-1">
                    <%= form.submit "編集を保存", class: "btn btn-primary" %>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        <% end %>
      
    </div>
  </div>
</div>