<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      
      <h3>プロフィール</h3>
      
      <% if @user %>
      <!-- ログインユーザーの場合 -->
        <% if current_user == @user %> 
          <%= form_with model: @user, url: user_path(@user.id) do |form| %>
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="d-flex justify-content-center flex-column align-items-center">
                  <!-- アイコン画像 -->
                  <%= image_tag @user.get_profile_image(200, 200), class: "img-fluid rounded mb-3 mt-5" %>
                  <!-- ファイル選択 -->
                  <%= form.file_field :profile_image, id: "profile_image", accept: "image/*" %>
                </div>
              </div>
              <div class="col-md-8">
                <!-- フォロー数とフォロワー数 -->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label>フォロー数</label>
                    <%= link_to @user.following.count, relationships_followings_path(@user) %>
                  </div>
                  <div class="col-md-6">
                    <label>フォロワー数</label>
                    <%= link_to @user.followers.count, relationships_followers_path(@user) %>
                  </div>
                </div>
                <!-- 名前 -->
                <div class="row mb-3">
                  <div class="col-md-9">
                    <label for="name" class="form-label">名前</label>
                    <%= form.text_field :name, id: "name", class: "form-control" %>
                  </div>
                  <div class="col-md-3">
                    <label for="gender" class="form-label">性別</label>
                    <%= form.select :gender, ["man", "woman", "other"], { prompt: "選択してください" }, class: "form-select" %>
                  </div>
                </div>
                <!-- 紹介文 -->
                <div class="row mb-3">
                  <div class="col-md-12">
                    <label for="introduction" class="form-label">紹介文</label>
                    <%= form.text_area :introduction, rows: 2, id: "introduction", class: "form-control", rows: 4, cols: 50 %>
                  </div>
                </div>
                <!-- 保存ボタン -->
                <div class="row">
                  <div class="col-md-12 mt-1">
                    <%= form.submit "編集を保存", class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <!-- プロフィールの編集ができない場合の表示 -->
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="d-flex justify-content-center flex-column align-items-center">
                <!-- アイコン画像 -->
                <%= image_tag @user.get_profile_image(200, 200), class: "img-fluid rounded mb-3 mt-5" %>
              </div>
            </div>
            <div class="col-md-8">
              <!-- フォロー数とフォロワー数 -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label>フォロー数</label>
                  <%= link_to @user.following.count, relationships_followings_path(@user) %>
                </div>
                <div class="col-md-6">
                  <label>フォロワー数</label>
                  <%= link_to @user.followers.count, relationships_followers_path(@user) %>
                </div>
              </div>
              <!-- 名前 -->
              <div class="row mb-3">
                <div class="col-md-9">
                  <label class="form-label">名前</label>
                  <div><%= @user.name %></div>
                </div>
                <div class="col-md-3">
                  <label class="form-label">性別</label>
                  <div><%= @user.gender %></div>
                </div>
              </div>
              <!-- 紹介文 -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <label class="form-label">紹介文</label>
                  <div><%= @user.introduction %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
      <% end %>
        
      
    </div>
  </div>
</div>