<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand m-2" href="/">
        <%= image_tag('logo4.png', style: "width: 170px; height: auto;", alt: "Logo") %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          
      <% if user_signed_in? %>
        <%= render partial: 'layouts/serach' %>
      <% end %>
      
      <% if admin_signed_in? %>
        <div class="d-flex align-items-center mx-3">
          <%= link_to "Comments", admin_comments_path, class: "link text-white mr-3" %> 
          <%= link_to "Users", admin_users_path, class: "link text-white mr-3" %> 
          <%= link_to "Genres", admin_genres_path, class: "link text-white mr-3" %> 
          <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "link text-white" %> 
        </div>
      <% elsif user_signed_in? %>
        <% if user_signed_in? || admin_signed_in? %>
          <div class="text-center text-white my-2">
            ようこそ、<%= current_user.name %>
          </div>
        <% end %>
        
        <% if user_signed_in? && !current_user.guest_user? %>
          <div class="d-flex align-items-center my-2">
            <i class="fa-solid fa-caret-right mx-2" style="color:white;"></i>
            <%= link_to "マイページ", user_users_mypage_path, data: { "turbolinks" => false }, class: "link text-white" %> 
          </div>
        <% end %>
        
        <div class="d-flex align-items-center my-2">
          <i class="fa-solid fa-caret-right mx-2" style= "color:white;" ></i>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link text-white" %> 
        </div>
      <% else %>
        <div class="d-flex align-items-center my-2">
          <i class="fa-solid fa-caret-right mx-2" style="color:white;"></i>
          <%= link_to "sign up", new_user_registration_path, class: "link text-white" %>
        </div>
        <div class="d-flex align-items-center my-2">
          <i class="fa-solid fa-caret-right mx-2" style="color:white;"></i>
          <%= link_to "Log in", new_user_session_path, class: "link text-white" %>
        </div>
      <% end %>
      
    </ul>
  </div>
</div>
</header>